@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke-text {
    color: transparent;
    -webkit-text-stroke: 3px white;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    @apply bg-obsidian text-white antialiased;
  }

  .perspective-2000 {
    perspective: 2000px;
  }
}