@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: rgba(34, 211, 238, 0.45);
  float: left;
  height: 0;
  pointer-events: none;
}
.stroke-text {
    color: transparent;
    -webkit-text-stroke: 3px white;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  body {
    @apply bg-obsidian text-white antialiased;
  }

  .perspective-2000 {
    perspective: 2000px;
  }
}